@media (min-width: 1200px) {}
@media (min-width: 979px) and (max-width: 1999px) {}
@media (min-width: 768px) and (max-width: 979px) {
	
	#nav-icon1 {
		top: 5%;
		left: 90%;
	}

}
@media (min-width: 640px) and (max-width: 768px) {

	#nav-icon1 {
		top: 5%;
		left: 90%;
	}

}
@media (min-width: 480px) and (max-width: 640px) {

	#nav-icon1 {
		top: 5%;
		left: 80%;
	}

}
@media (min-width: 320px) and (max-width: 480px) {
	
	#nav-icon1 {
		top: 5%;
		left: 80%;
  		width: 45px;
  		height: 45px;
	}

	#nav-icon1 span {
	  	height: 6px;
	  	width: 100%;
	}

	#nav-icon1 span:nth-child(1) {
		top: 0px;
	}
	
	#nav-icon1 span:nth-child(2) {
		top: 14px;
	}
	
	#nav-icon1 span:nth-child(3) {
		top: 28px;
	}

	.wrapper__block__item {
		height: 370px;
		width: 290px;
	}

}